html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.todolist-wrapper {
    margin: 1rem;
}

.todolist-wrapper h1 {
    text-align: center;
    font-weight: 700;
}

.todolist-add {
    padding: 1rem;
}

.todolist {
    padding: 1rem;
    border: 1px solid #333;
}

.todolist > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}